<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-lg px-4 md:px-8">
    <div class="md:pt-8">
      <h2 class="text-center font-bold text-teal-500">Como nació la idea</h2>

      <h3
        class="mmb-4 text-center text-2xl font-bold text-teal-950 md:mb-6 lg:text-3xl"
      >
        Breve historia
      </h3>

      <p class="mb-6 text-gray-500 sm:text-lg md:mb-8 text-center">
        Con la colaboración de acuicultores locales y la experiencia en biología
        marina, BioBlue desarrolla soluciones tecnológicas para mejorar la
        eficiencia y sostenibilidad en la acuicultura, satisfaciendo una demanda
        latente en el sector.
      </p>
    </div>
  </div>
</div>
