<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="text-center font-bold text-teal-500">
        Tecnología para la Acuicultura
      </h2>
      <h3
        class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl"
      >
        Soluciones Integrales para <br />
        una Acuicultura Sostenible
      </h3>

      <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
        Descubre cómo nuestra plataforma digital y servicios especializados
        están transformando la acuicultura, optimizando la producción y cuidando
        el medio ambiente.
      </p>
    </div>
    <!-- text - end -->

    <div
      class="grid gap-12 sm:grid-cols-2 xl:grid-cols-3 xl:gap-16 text-teal-950"
    >
      <!-- feature - start -->
      <div class="flex flex-col items-center">
        <div
          class="mb-6 flex h-12 w-12 items-center justify-center rounded-lg bg-teal-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-device-cctv h-6 w-6"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M3 3m0 1a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1z"
            ></path><path d="M12 14m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"
            ></path><path d="M19 7v7a7 7 0 0 1 -14 0v-7"></path><path
              d="M12 14l.01 0"></path></svg
          >
        </div>

        <h3
          class="mb-2 text-center text-lg font-semibold md:text-xl text-teal-950"
        >
          Monitoreo en Tiempo Real
        </h3>
        <p class="mb-2 text-center text-gray-500">
          Observa el estado de tus estanques en tiempo real con nuestra
          tecnología de sensores y cámaras.
        </p>
      </div>
      <!-- feature - end -->

      <!-- feature - start -->
      <div class="flex flex-col items-center">
        <div
          class="mb-6 flex h-12 w-12 items-center justify-center rounded-lg bg-teal-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-chart-histogram w-6 h-6"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M3 3v18h18"></path><path d="M20 18v3"></path><path d="M16 16v5"
            ></path><path d="M12 13v8"></path><path d="M8 16v5"></path><path
              d="M3 11c6 0 5 -5 9 -5s3 5 9 5"></path></svg
          >
        </div>

        <h3
          class="mb-2 text-center text-lg font-semibold md:text-xl text-teal-950"
        >
          Análisis Avanzado de Datos
        </h3>
        <p class="mb-2 text-center text-gray-500">
          Utiliza nuestra plataforma de IA para analizar datos y recibir
          recomendaciones personalizadas para mejorar tus operaciones.
        </p>
      </div>
      <!-- feature - end -->

      <!-- feature - start -->
      <div class="flex flex-col items-center">
        <div
          class="mb-6 flex h-12 w-12 items-center justify-center rounded-lg bg-teal-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-heart-check h-6 w-6"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M19.5 12.572l-3 2.928m-5.5 3.5a8916.99 8916.99 0 0 0 -6.5 -6.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
            ></path><path d="M15 19l2 2l4 -4"></path></svg
          >
        </div>

        <h3
          class="mb-2 text-center text-lg font-semibold md:text-xl text-teal-950"
        >
          Optimización de Condiciones de Cultivo
        </h3>
        <p class="mb-2 text-center text-gray-500">
          Mejora la salud de tus cultivos ajustando las condiciones ambientales
          con nuestra ayuda.
        </p>
      </div>
      <!-- feature - end -->

      <!-- feature - start -->
      <div class="flex flex-col items-center">
        <div
          class="mb-6 flex h-12 w-12 items-center justify-center rounded-lg bg-teal-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-bell h-6 w-6"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"
            ></path><path d="M9 17v1a3 3 0 0 0 6 0v-1"></path></svg
          >
        </div>

        <h3
          class="mb-2 text-center text-lg font-semibold md:text-xl text-teal-950"
        >
          Alertas y Notificaciones
        </h3>
        <p class="mb-2 text-center text-gray-500">
          Recibe alertas en tiempo real sobre condiciones críticas o cambios
          importantes en tus estanques.
        </p>
      </div>
      <!-- feature - end -->

      <!-- feature - start -->
      <div class="flex flex-col items-center">
        <div
          class="mb-6 flex h-12 w-12 items-center justify-center rounded-lg bg-teal-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-device-remote w-6 h-6"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M12 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path
              d="M7 3m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z"
            ></path><path d="M12 3v2"></path><path d="M10 15v.01"></path><path
              d="M10 18v.01"></path><path d="M14 18v.01"></path><path
              d="M14 15v.01"></path></svg
          >
        </div>

        <h3
          class="mb-2 text-center text-lg font-semibold md:text-xl text-teal-950"
        >
          Acceso Remoto
        </h3>
        <p class="mb-2 text-center text-gray-500">
          Accede a nuestra plataforma desde cualquier lugar y en cualquier
          momento para monitorear tus estanques.
        </p>
      </div>
      <!-- feature - end -->

      <!-- feature - start -->
      <div class="flex flex-col items-center">
        <div
          class="mb-6 flex h-12 w-12 items-center justify-center rounded-lg bg-teal-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-businessplan"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M16 6m-5 0a5 3 0 1 0 10 0a5 3 0 1 0 -10 0"></path><path
              d="M11 6v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4"></path><path
              d="M11 10v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4"></path><path
              d="M11 14v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4"></path><path
              d="M7 9h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"
            ></path><path d="M5 15v1m0 -8v1"></path></svg
          >
        </div>

        <h3
          class="mb-2 text-center text-lg font-semibold md:text-xl text-teal-950"
        >
          Suscripción Flexible
        </h3>
        <p class="mb-2 text-center text-gray-500">
          Elige entre nuestras opciones de suscripción mensual o anual para
          adaptar nuestros servicios a tus necesidades.
        </p>
      </div>
      <!-- feature - end -->
    </div>
  </div>
</div>
