<section class="bg-sky-50">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <a
      href="/"
      class="flex items-center mb-6 text-2xl md:text-4xl bg-gradient-to-r from-sky-700 via-sky-500 to-sky-700 text-transparent bg-clip-text font-extrabold relative gap-2"
    >
      BioBlue <span
        class="rounded-md bg-gradient-to-r from-sky-700 via-sky-500 to-sky-700 text-base text-white px-2 py-1"
        >DEMO</span
      >
    </a>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-lg font-bold leading-tight tracking-tight text-gray-900 md:text-xl"
        >
          Iniciar sesión
        </h1>
        <div class="space-y-4 md:space-y-6">
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Correo electrónico</label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="nombre@correo.com"
              required=""
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Contraseña</label
            >
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              required=""
            />
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <span
                class="text-sm text-green-600 flex justify-center items-center gap-1"
                ><svg
                  class="h-6 w-6"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-check"
                  ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                  ></path><path d="M5 12l5 5l10 -10"></path></svg
                > Sistema operacional</span
              >
            </div>
          </div>
          <button
            class="inline-flex justify-center items-center gap-2 w-full text-white bg-sky-600 hover:opacity-90 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            id="buttonLogin"
          >
            <div
              class="h-4 w-4 animate-spin rounded-full border-4 border-solid border-current border-e-transparent align-[-0.125em] text-surface motion-reduce:animate-[spin_1.5s_linear_infinite] transition-all duration-300 hidden"
              role="status"
              id="spinner"
            >
            </div>
            Ingresar</button
          >
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const buttonClass = ["cursor-not-allowed", "bg-gray-700"];
  const buttonLogin = document.getElementById("buttonLogin");
  const spinner = document.getElementById("spinner");
  buttonLogin?.addEventListener("click", () => {
    buttonLogin?.classList.add(...buttonClass);
    spinner?.classList.remove(`hidden`);
    setTimeout(() => {
      window.location.href = "/";
    }, 2500);
  });
</script>
