---
import WavyText from "@components/WavyText.astro";
---

<section>
  <div
    class="inset-0 -z-10 h-full w-full bg-[#ffffff] [background:radial-gradient(125%_125%_at_50%_10%,#ffffff_40%,#14b8a6_100%)]"
  >
    <div
      class="max-w-screen-xl mx-auto px-4 py-28 gap-12 text-gray-600 md:px-8 h-[95vh]"
    >
      <div class="space-y-5 max-w-4xl mx-auto text-center">
        <h1
          class="font-inter text-2xl font-extrabold tracking-tight mx-auto md:text-6xl bg-gradient-to-r from-teal-700 via-teal-400 to-teal-700 text-transparent bg-clip-text"
        >
          Automatizá tu acuicultura con
        </h1>
        <WavyText text="BioBlue" />
        <p class="max-w-2xl mx-auto pt-12">
          Sed ut perspiciatis unde omnis iste natus voluptatem accusantium
          doloremque laudantium, totam rem aperiam, eaque ipsa quae.
        </p>
        <!-- <div
          class="items-center justify-center gap-x-3 space-y-3 sm:flex sm:space-y-0"
        >
          <a
            href="javascript:void(0)"
            class="block py-2 px-4 text-white font-medium bg-indigo-600 duration-150 hover:bg-indigo-500 active:bg-indigo-700 rounded-lg shadow-lg hover:shadow-none"
          >
            Browse courses
          </a>
          <a
            href="javascript:void(0)"
            class="block py-2 px-4 text-gray-700 hover:text-gray-500 font-medium duration-150 active:bg-gray-100 border rounded-lg"
          >
            Get access
          </a>
        </div> -->
      </div>
      <div class="mt-14 overflow-hidden h-[60%] drop-shadow-2xl">
        <img
          src="https://raw.githubusercontent.com/sidiDev/remote-assets/main/Safari%20(Big%20Sur)%20-%20Light.png"
          class="w-full shadow-lg rounded-lg border"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
