<div class="bg-white py-6 sm:py-8 lg:py-12 mb-12" id="team">
  <div class="mx-auto max-w-screen-xl px-4 md:px-8">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="text-center font-bold text-sky-500 pt-12">Nuestro Equipo</h2>
      <h3
        class="mb-4 text-center text-2xl font-bold text-sky-950 md:mb-6 lg:text-3xl"
      >
        Conoce a los Creadores
      </h3>

      <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
        Con la colaboración de acuicultores locales y la experiencia en biología
        marina, BioBlue desarrolla soluciones tecnológicas para mejorar la
        eficiencia y sostenibilidad en la acuicultura, satisfaciendo una demanda
        latente en el sector.
      </p>
    </div>
    <!-- text - end -->

    <div
      class="grid grid-cols-2 gap-x-4 gap-y-6 sm:gap-y-8 lg:grid-cols-2 lg:gap-x-8 lg:gap-y-12"
    >
      <!-- person - start -->
      <div class="flex flex-col items-center justify-center gap-2 md:gap-4">
        <div
          class="h-24 w-24 overflow-hidden rounded-full bg-gray-100 shadow-lg md:h-32 md:w-32"
        >
          <img
            src="https://images.unsplash.com/photo-1567515004624-219c11d31f2e??auto=format&q=75&fit=crop&w=256"
            loading="lazy"
            alt="Photo by Radu Florin"
            class="h-full w-full object-cover object-center"
          />
        </div>

        <div>
          <div class="text-center font-bold text-sky-600 md:text-lg">
            Fohad Rachid Anache
          </div>
          <p class="text-center text-sm text-gray-500 md:text-base">CTO</p>
        </div>
      </div>
      <!-- person - end -->

      <!-- person - start -->
      <div class="flex flex-col items-center justify-center gap-2 md:gap-4">
        <div
          class="h-24 w-24 overflow-hidden rounded-full bg-gray-100 shadow-lg md:h-32 md:w-32"
        >
          <img
            src="https://images.unsplash.com/photo-1532073150508-0c1df022bdd1?auto=format&q=75&fit=crop&w=256"
            loading="lazy"
            alt="Photo by christian ferrer"
            class="h-full w-full object-cover object-center"
          />
        </div>

        <div>
          <div class="text-center font-bold text-sky-600 md:text-lg">
            Dra. Bárbara
          </div>
          <p class="text-center text-sm text-gray-500 md:text-base">Bióloga</p>
        </div>
      </div>
      <!-- person - end -->
    </div>
  </div>
</div>
