<div class="bg-white py-6 sm:py-8 lg:py-12 mb-12" id="team">
  <div class="mx-auto max-w-screen-xl px-4 md:px-8">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="text-center font-bold text-sky-500 pt-12">Nuestro Equipo</h2>
      <h3
        class="mb-4 text-center text-2xl font-bold text-sky-950 md:mb-6 lg:text-3xl"
      >
        Conoce a los Creadores
      </h3>

      <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
        Con la colaboración de acuicultores locales y la experiencia en biología
        marina, BioBlue desarrolla soluciones tecnológicas para mejorar la
        eficiencia y sostenibilidad en la acuicultura, satisfaciendo una demanda
        latente en el sector.
      </p>
    </div>
    <!-- text - end -->

    <div
      class="grid grid-cols-2 gap-x-7 gap-y-6 sm:gap-y-8 lg:grid-cols-2 lg:gap-x-6 lg:gap-y-12"
    >
      <!-- person - start -->
      <div
        class="flex flex-col items-center justify-start md:justify-center gap-2 md:gap-4"
      >
        <div
          class="h-32 w-32 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-48 md:w-48"
        >
          <img
            src="fohad-portrait.webp"
            loading="lazy"
            alt="Foto de Fohad Rachid Anache"
            class="h-full w-full object-cover object-center"
          />
        </div>

        <div class="flex flex-col">
          <div class="text-center font-bold text-sky-600 md:text-lg">
            Fohad Rachid Anache
          </div>
          <p class="text-center text-sm text-gray-500 md:text-bas">CTO</p>
        </div>
      </div>
      <!-- person - end -->

      <!-- person - start -->
      <div class="flex flex-col items-center justify-center gap-2 md:gap-4">
        <div
          class="h-32 w-32 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-48 md:w-48"
        >
          <img
            src="barbara-portrait.webp"
            loading="lazy"
            alt="Foto de Bárbara Madrignac Bonzi"
            class="h-full w-full object-cover object-center"
          />
        </div>

        <div>
          <div class="text-center font-bold text-sky-600 md:text-lg">
            Dra. Bárbara Madrignac Bonzi
          </div>
          <p class="text-center text-sm text-gray-500 md:text-base">Bióloga</p>
        </div>
      </div>
      <!-- person - end -->
    </div>
  </div>
</div>
